<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="css/snippets.css">
    <link rel="stylesheet" type="text/css" href="css/prism.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <title>Snippets</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

</head>
<body>
    <div class="header">
        <h1>Snippets</h1>
        </div>
