<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="css/snippets.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <title>Snippets</title>
</head>
<body>
<div class="header">
    <h1>Snippets</h1>
    </div>
    <div class="content">
        <% snippets.forEach((snippet) => { %>
            <div class="card">
                <h2><%= snippet["title"] %></h2>
                <pre><%= snippet["code"] %></pre>
                <p><%= snippet["description"] %></p>
                <span><%= snippet["creationDate"] %></span>
            </div>
         
       <% }) %>
    </div>
</body>
</html>
